In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("C:/Data/cobros_juan.csv", sep = ",")

In [9]:
df.count()

Mes                     12
Cobro_USD               12
Clasificacion_Sueldo    12
dtype: int64

In [10]:
Sueldo_promedio = df['Cobro_USD'].mean()
print("\n--- Resultado del Cálculo ---")
print(f"El sueldo promedio mensual de Juan fue de: ${Sueldo_promedio:.2f}")

--- Resultado del Cálculo ---
El sueldo promedio mensual de Juan fue de: $433.33

In [11]:
def clasificar_sueldo(cobro):
    """
    Clasifica el sueldo según las reglas proporcionadas:
    a. Sueldo bajo: por debajo de 300 dólares.
    b. Sueldo normal: entre 300 a 900.
    c. Sueldo mejor de lo normal: más de 900 dólares.
    """
    if cobro < 300:
        return 'Bajo'
    elif 300 <= cobro <= 900:
        return 'Normal'
    else: 
        return 'Mejor de lo normal'

In [12]:
# Aplicar la función a la columna 'Cobro_USD'

df['Clasificacion_Calculada'] = df['Cobro_USD'].apply(clasificar_sueldo)

In [13]:
# Mostrar el resultado
print("--- DataFrame con la Clasificación de Sueldo ---")
print(df[['Mes', 'Cobro_USD', 'Clasificacion_Calculada']])

--- DataFrame con la Clasificación de Sueldo ---
           Mes  Cobro_USD Clasificacion_Calculada
0        Enero        300                  Normal
1      Febrero        300                  Normal
2        Marzo        300                  Normal
3        Abril        300                  Normal
4         Mayo        300                  Normal
5        Junio        300                  Normal
6        Julio        500                  Normal
7       Agosto        500                  Normal
8   Septiembre        500                  Normal
9      Octubre        500                  Normal
10   Noviembre        700                  Normal
11   Diciembre        700                  Normal

In [14]:
print("\n--- Resumen de Clasificaciones ---")
# Muestra cuántos meses caen en cada categoría
print(df['Clasificacion_Calculada'].value_counts())
print(
    'A) Sueldo bajo: por debajo de 300 dólares.', 
    'B) Sueldo normal:  entre 300 a 900.', 
    'C) Sueldo mejor de lo normal: más de 900 dólares.'
     )
print(f"El sueldo promedio mensual de Juan fue de: ${Sueldo_promedio:.2f}")

--- Resumen de Clasificaciones ---
Clasificacion_Calculada
Normal    12
Name: count, dtype: int64
A) Sueldo bajo: por debajo de 300 dólares. B) Sueldo normal:  entre 300 a 900. C) Sueldo mejor de lo normal: más de 900 dólares.
El sueldo promedio mensual de Juan fue de: $433.33